{% extends "base/_base.html" %}
{% set show_back_button = False %}

{% block title %}
  Login
{% endblock %}

{% block header %}
Login de usuário
{% endblock %}

{% block content %}
<form class="login-form" id="loginForm">
  <h2>Login</h2>
  <div class="full">
    <label for="loginUser">Usuário</label>
    <input type="text" id="loginUser" placeholder="Digite seu usuário">
  </div>
  <div class="full">
    <label for="loginPassword">Senha</label>
    <input type="password" id="loginPassword" placeholder="Digite sua senha">
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-primary">Logar</button>
    <button type="button" class="btn btn-ghost">Sair</button>
  </div>
</form>
{% endblock %}
