{% extends "base/_base.html" %}
{% set show_back_button = False %}

{% block title %}Login{% endblock %}
{% block css_page %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="page-login">

    <div class="container">

        <form class="login-form" method="POST" action="{{ url_for('usuarios.login') }}">

            <h2>Entrar</h2>           

            <div class="form-group">
                <label for="email">E-mail</label>
                <input 
                    type="text" 
                    id="email" 
                    name="email" 
                    placeholder="Digite seu e-mail"
                    required
                >
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input 
                    type="password" 
                    id="senha" 
                    name="senha" 
                    placeholder="Digite sua senha"
                    required
                >
            </div>

            <div class="actions">
                <button type="submit" class="btn-primary">Entrar</button>
                
            </div>

        </form>

    </div>
</div>
{% endblock %}
