{% extends "base/_base.html" %}
{% set show_back_button = True %}
{% block body_class %}page-livro{% endblock %}

{% block title %}Cadastro de Livros{% endblock %}

{% block css_page %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leitor.css') }}">
{% endblock %}

{% block content %}

<div class="container">
  <header>
    <div class="logo">LB</div>
    <h1>Cadastro de Leitores</h1>
  </header>

  <form id="bookForm"  enctype="multipart/form-data" method="POST">

    <div class="row">
      <div>
        <label for="nome">Nome</label>
        <input id="nome" name="nome" class="input" required />
      </div>
      <div>
        <label for="cpf">CPF</label>
        <input id="cpf" name="cpf" class="input" required placeholder="Ex: (000.000.000-00)" />
      </div>
      <div>
        <label for="data_nascimento">Data de Nascimento</label>
        <input id="data_nascimento" name="data_nascimento" type="date" class="input" required placeholder="Ex: 00/00/0000" />
      </div>
      <div>
        <label for="email">E-mail</label>
        <input id="email" name="email" type="email" class="input" required placeholder="Ex: exemplo@exemplo.com" />
      </div>
      <div>
        <label for="telefone">telefone</label>
        <input id="telefone" name="telefone" type="tel" class="input"  required placeholder="Ex: (00)00000-0000" />
      </div>
      <div>
        <label for="cep">CEP</label>        
        <input id="cep" name="cep" type="text" class="input" maxlength="9" onblur="buscaCep()"  required placeholder="Ex: 01001-000"/>
      </div>
      <div>
        <label for="logradouro">Logradouro</label>        
        <input id="logradouro" name="logradouro" type="text" class="input" readonly />
      </div>
      <div>
        <label for="bairro">Bairro</label>        
        <input id="bairro" name="bairro" type="text" class="input" readonly />
      </div>
      <div>
        <label for="cidade">Cidade</label>        
        <input id="cidade" name="cidade" type="text" class="input" readonly />
      </div>
      <div>
        <label for="uf">UF</label>        
        <input id="uf" name="uf" type="text" class="input" readonly />
      </div>
      <div>
        <label for="numero_endereco">Número</label>        
        <input id="numero_endereco" name="numero_endereco" type="text" class="input"/>
      </div>
      <div>
        <label for="numero_matricula">Nº Matrícula</label>
        <input id="numero_matricula" name="numero_matricula" type="text" class="input" required />
      </div>
      
      <div>
        <label for="limite_emprestimo">Limete de Empréstimos</label>
        <input id="limite_emprestimo" name="limite_emprestimo" type="number" min="1" class="input"  value="3"/>
      </div>
      <div>
        <input id="emprestimos_ativos" name="emprestimos_ativos" type="hidden"  class="input" value="0"/>
      </div>
      <div>
        <label for="observacao">Observação</label>
        <textarea id="observacao" name="observacao" class="input" rows="4"placeholder="Digite observações adicionais..."></textarea>
      </div>
      <div>
        <label for="status">Status do leitor</label>
        <select id="status" name="status" class="input" required>
          <option value="ativo" selected>Ativo</option>
          <option value="bloqueado">Bloqueado</option>
          <option value="suspenso">Suspenso</option>
          <option value="inativo">Inativo</option>
        </select>
      </div>

      <div>
        <label for="obs_interna">Observação interna</label>
        <textarea id="obs_interna" name="obs_interna" class="input" rows="4"placeholder="Digite observações adicionais..."></textarea>
      </div>
      
    </div>

    <div class="row full">
      <div class="file-input">
        <div>
          <label class="muted">Foto 3X4 </label>
          <div style="font-size:13px;color:var(--muted)">PNG/JPG — máximo recomendado 2MB</div>
        </div>
        <div style="margin-left:auto;display:flex;gap:10px;align-items:center;">
          <label class="btn-upload" for="coverInput">Selecionar arquivo</label>
          <span id="fileName"  class="muted">Nenhum arquivo selecionado</span>
          <input id="coverInput" name="foto" type="file" accept="image/*" onchange="handleFile(event)" />
        </div>
      </div>
    </div>

    <div class="actions">
      <button type="submit" class="btn btn-primary">Salvar Leitor</button>
      <button type="reset" class="btn btn-ghost" onclick="resetPreview()">Limpar</button>
    </div>
  </form>

   <aside class="right">
    <div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:12px">
      <div style="font-weight:700">Pré-visualização</div>
      <div class="muted" style="font-size:13px">Veja como ficará</div>
    </div>

    <div id="previewCover" class="cover">
      <span id="previewPlaceholder">Imagem</span>
      <img id="previewImg" src="" alt="Prévia da capa" style="display:none;">
    </div>
    
    <div class="meta">
      <h3 id="previewTitle">Nome do leitor</h3>
      <p id="previewAuthor" class="muted">CPF • Data de nascimento</p>
      <p id="previewDesc" class="muted" style="margin-top:8px; text-align: justify;">
        Observações aparecerão aqui.
      </p>
    </div>
  </aside>
</div>

<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script src="{{ url_for('static', filename='js/cep.js') }}"></script>
<script src="{{ url_for('static', filename='js/leitores.js') }}"></script>
<script>
  setupPreview('bookForm', 
    {
      nome: 'previewTitle',
      cpf: 'previewAuthor',
      observacao: 'previewDesc'
    },
    {
      nome: 'Nome do leitor',
      cpf: 'CPF • Data de nascimento',
      observacao: 'Observações aparecerão aqui.'
    }
  );
</script>
{% endblock %}