<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Livraria{% endblock %}</title>

  {% block css_page %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
</head>


<body class="{% block body_class %}{% endblock %}">

{% if show_back_button %}
  <a href="{{ back_url if back_url else url_for('main.index')}}" class="btn-voltar-canto">Voltar</a>
{% endif %}

<div class="flash-container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash-message {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

  {% block content %}{% endblock %}

  {% block full_width %}{% endblock %}
</body>
</html>
