{% extends "base/_base.html" %}
{% set show_back_button = True %}
{% block body_class %}page-emprestimo{% endblock %}

{% block title %}Cadastro de Empréstimos{% endblock %}

{% block css_page %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/emprestimos.css') }}">
<link href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">

  <header>
    <div class="logo">LB</div>
    <h1 style="text-align: center;">Cadastro de Empréstimos</h1>
  </header>

  <div class="container-emprestimo">

    <form class="form-emprestimo" method="post" action="{{ url_for('emprestimos.cadastrar_emprestimos') }}">

      <div class="card">
        <h2>Buscar Leitor</h2>

        <label for="busca-leitor">Nome ou CPF</label>
        <div style="display: flex; gap: 10px;">
          <input
            type="text"
            id="busca-leitor"
            name="busca-leitor"
            placeholder="Digite o nome ou CPF do leitor"
          >
          <button type="button" class="btn" onclick="BuscaLeitor()">Buscar</button>
        </div>
    
        <div id="resultado-busca-leitor" class="resultado">
          <p>Aguardando busca...</p>
        </div>
      
        <input type="hidden" name="leitor_id" id="leitor-id" value="">
    </div>
    <div class="card">
          <h2>Buscar Livro</h2>

        <label for="busca-livro">Título ou ISBN</label>
        <div style="display: flex; gap: 10px;">
          <input
            type="text"
            id="busca-livro"
            name="busca-livro"
            placeholder="Digite o título ou ISBN do livro"
          >
          <button type="button" class="btn" onclick="BuscaLivro()">Buscar</button>
        </div>
    
        <div id="resultado-busca-livro" class="resultado">
          <p>Aguardando busca...</p>
        </div>
      
        <input type="hidden" name="livro_id" id="livro-id" value="">
    </div>
      
    <div class="card card-full">
      <h2>Dados do Empréstimo</h2>

      <div class="linha">
        <div>
          <label for="data_emprestimo">Data do Empréstimo</label>
          <input
            type="date"
            id="data_emprestimo"
            name="data_emprestimo"
            required
          >
        </div>

        <div>
          <label for="data_devolucao">Data de Devolução</label>
          <input
            type="date"
            id="data_devolucao"
            name="data_devolucao"
            required
          >
        </div>
      </div>

      <label for="status">Status</label>
      <select name="status" id="status">
        <option value="ativo">Ativo</option>
        <option value="devolvido">Devolvido</option>
      </select>

      <label for="observacao">Observações</label>
      <textarea
        name="observacao"
        id="observacao"
        rows="3"
        placeholder="Ex: prazo especial, estado do livro, observações pedagógicas"
        ></textarea>

      <button type="submit" class="btn btn-primary">
        Registrar Empréstimo
      </button>
    </div>

</form>

  </div>
</div>
<script src="{{ url_for('static', filename='js/emprestimos.js') }}"></script>
{% endblock %}
